In [1]:
import sqlite3
import json
from datetime import datetime

timeframe = '2017-10'
sql_transaction = []

connection = sqlite3.connect('{}.db'.format(timeframe))
cursor = connection.cursor()

In [2]:
def create_table():
    cursor.execute('''CREATE TABLE IF NOT EXISTS parent_reply
    (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT,
    comment TEXT, subreddit TEXT, unix INT, score INT)''')

In [3]:
create_table()

In [4]:
def format_data(data):
    data = data.replace('\n', ' newlinechar ').replace('\r', ' newlinechar ').replace('"', "'")
    return data

In [5]:
def find_parent(pid):
    try:
        sql = "SELECT comment from parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        cursor.execute(sql)
        result = cursor.fetchone()

        if result != None:
            return result[0]
        else:
            return False
        
    except Exception as e:
        print('find_parent', e)
        return False

In [6]:
def find_existing_score(pid):
    try:
        sql = "SELECT score from parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        cursor.execute(sql)
        result = cursor.fetchone()

        if result != None:
            return result[0]
        else:
            return False
        
    except Exception as e:
        print('find_parent', e)
        return False

In [7]:
def is_acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]' or data == '[removed]':
        return False
    else:
        return True

In [8]:
def transaction_builder(sql):
    global sql_transaction
    sql_transaction.append(sql)
    
    if len(sql_transaction) > 1000:
        cursor.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                cursor.execute(s)
            except:
                pass
            
        connection.commit()
        sql_transaction = []

        
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = '''UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;'''.format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_builder(sql)
    except Exception as e:
        print('replace_comment',str(e))

        
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = '''INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});'''.format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_builder(sql)
    except Exception as e:
        print('has_parent', e)


def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = '''INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});'''.format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_builder(sql)
    except Exception as e:
        print('no_parent', e)

In [9]:
row_counter = 0
paired_rows = 0

START_ROW = 0
CLEANUP = 1000000

SCORE_THRESHOLD = 2

with open('D:\AI_Data\{}\RC_{}'.format(timeframe.split('-')[0], timeframe), buffering=1000) as f:
    for row in f:
        row_counter += 1
        
        if row_counter > START_ROW:
            try:
                row = json.loads(row)
                parent_id = row['parent_id'].split('_')[1]
                body = format_data(row['body'])
                created_utc = row['created_utc']
                score = row['score']
                
                comment_id = row['id']
                
                subreddit = row['subreddit']
                parent_data = find_parent(parent_id)
                
                existing_comment_score = find_existing_score(parent_id)
                if existing_comment_score:
                    if score > existing_comment_score:
                        if is_acceptable(body):
                            sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                            
                else:
                    if is_acceptable(body):
                        if parent_data:
                            if score >= 2:
                                sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                paired_rows += 1
                        else:
                            sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
            except Exception as e:
                print(str(e))
                            
        if row_counter % 100000 == 0:
            print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

        if row_counter > START_ROW:
            if row_counter % CLEANUP == 0:
                print("Cleanin up!")
                sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                cursor.execute(sql)
                connection.commit()
                cursor.execute("VACUUM")
                connection.commit()

Total Rows Read: 100000, Paired Rows: 4610, Time: 2017-12-07 20:21:58.842129
Total Rows Read: 200000, Paired Rows: 10867, Time: 2017-12-07 20:22:50.875467
Total Rows Read: 300000, Paired Rows: 17417, Time: 2017-12-07 20:23:41.233623
Total Rows Read: 400000, Paired Rows: 24389, Time: 2017-12-07 20:24:31.893815
Total Rows Read: 500000, Paired Rows: 31402, Time: 2017-12-07 20:25:27.988792
Total Rows Read: 600000, Paired Rows: 38542, Time: 2017-12-07 20:26:21.570199
Total Rows Read: 700000, Paired Rows: 45804, Time: 2017-12-07 20:27:16.622667
Total Rows Read: 800000, Paired Rows: 52551, Time: 2017-12-07 20:28:08.841375
Total Rows Read: 900000, Paired Rows: 59594, Time: 2017-12-07 20:29:02.293753
Total Rows Read: 1000000, Paired Rows: 66822, Time: 2017-12-07 20:29:54.821449
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 72669, Time: 2017-12-07 20:30:46.937871
Total Rows Read: 1200000, Paired Rows: 79636, Time: 2017-12-07 20:31:30.169006
Total Rows Read: 1300000, Paired Rows: 86985, Time: 2017-12-07 20:32:17.296765
Total Rows Read: 1400000, Paired Rows: 94611, Time: 2017-12-07 20:33:07.442678
Total Rows Read: 1500000, Paired Rows: 102347, Time: 2017-12-07 20:34:02.580078
Total Rows Read: 1600000, Paired Rows: 109936, Time: 2017-12-07 20:34:53.158379
Total Rows Read: 1700000, Paired Rows: 117104, Time: 2017-12-07 20:35:42.516753
Total Rows Read: 1800000, Paired Rows: 124236, Time: 2017-12-07 20:36:32.626405
Total Rows Read: 1900000, Paired Rows: 131061, Time: 2017-12-07 20:37:19.466830
Total Rows Read: 2000000, Paired Rows: 138016, Time: 2017-12-07 20:38:06.012977
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 143706, Time: 2017-12-07 20:39:03.215234
Total Rows Read: 2200000, Paired Rows: 151015, Time: 2017-12-07 20:39:50.057186
Total Rows Read: 2300000, Paired Rows: 158457, Time: 2017-12-07 20:40:40.060000
Total Rows Read: 2400000, Paired Rows: 165929, Time: 2017-12-07 20:41:29.431990
Total Rows Read: 2500000, Paired Rows: 173325, Time: 2017-12-07 20:42:19.899807
Total Rows Read: 2600000, Paired Rows: 181457, Time: 2017-12-07 20:43:11.066938
Total Rows Read: 2700000, Paired Rows: 189402, Time: 2017-12-07 20:44:03.426416
Total Rows Read: 2800000, Paired Rows: 197166, Time: 2017-12-07 20:44:54.092691
Total Rows Read: 2900000, Paired Rows: 204860, Time: 2017-12-07 20:45:45.983489
Total Rows Read: 3000000, Paired Rows: 212635, Time: 2017-12-07 20:46:38.254683
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 218573, Time: 2017-12-07 20:47:35.729102
Total Rows Read: 3200000, Paired Rows: 225460, Time: 2017-12-07 20:48:24.696584
Total Rows Read: 3300000, Paired Rows: 232305, Time: 2017-12-07 20:49:15.118793
Total Rows Read: 3400000, Paired Rows: 239104, Time: 2017-12-07 20:50:06.801552
Total Rows Read: 3500000, Paired Rows: 246299, Time: 2017-12-07 20:51:01.133889
Total Rows Read: 3600000, Paired Rows: 253876, Time: 2017-12-07 20:51:55.171466
Total Rows Read: 3700000, Paired Rows: 261676, Time: 2017-12-07 20:52:49.714717
Total Rows Read: 3800000, Paired Rows: 269626, Time: 2017-12-07 20:53:42.407024
Total Rows Read: 3900000, Paired Rows: 277685, Time: 2017-12-07 20:54:34.281756
Total Rows Read: 4000000, Paired Rows: 285781, Time: 2017-12-07 20:55:24.345314
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 291954, Time: 2017-12-07 20:56:24.860086
Total Rows Read: 4200000, Paired Rows: 299693, Time: 2017-12-07 20:57:14.079295
Total Rows Read: 4300000, Paired Rows: 307832, Time: 2017-12-07 20:58:07.712518
Total Rows Read: 4400000, Paired Rows: 315733, Time: 2017-12-07 20:58:59.277971
Total Rows Read: 4500000, Paired Rows: 323647, Time: 2017-12-07 20:59:50.864980
Total Rows Read: 4600000, Paired Rows: 331894, Time: 2017-12-07 21:00:43.160515
Total Rows Read: 4700000, Paired Rows: 340103, Time: 2017-12-07 21:01:35.925688
Total Rows Read: 4800000, Paired Rows: 348481, Time: 2017-12-07 21:02:28.985337
Total Rows Read: 4900000, Paired Rows: 356861, Time: 2017-12-07 21:03:25.524643
Total Rows Read: 5000000, Paired Rows: 365249, Time: 2017-12-07 21:04:16.862370
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 371347, Time: 2017-12-07 21:05:24.433999
Total Rows Read: 5200000, Paired Rows: 378727, Time: 2017-12-07 21:06:17.621572
Total Rows Read: 5300000, Paired Rows: 386354, Time: 2017-12-07 21:07:11.184375
Total Rows Read: 5400000, Paired Rows: 393918, Time: 2017-12-07 21:08:04.988810
Total Rows Read: 5500000, Paired Rows: 401280, Time: 2017-12-07 21:08:56.663138
Total Rows Read: 5600000, Paired Rows: 408631, Time: 2017-12-07 21:09:50.346998
Total Rows Read: 5700000, Paired Rows: 416191, Time: 2017-12-07 21:10:46.476343
Total Rows Read: 5800000, Paired Rows: 423433, Time: 2017-12-07 21:11:37.905582
Total Rows Read: 5900000, Paired Rows: 431012, Time: 2017-12-07 21:12:27.158450
Total Rows Read: 6000000, Paired Rows: 438509, Time: 2017-12-07 21:13:17.611279
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 443680, Time: 2017-12-07 21:14:24.217012
Total Rows Read: 6200000, Paired Rows: 449859, Time: 2017-12-07 21:15:11.299197
Total Rows Read: 6300000, Paired Rows: 456509, Time: 2017-12-07 21:16:02.027789
Total Rows Read: 6400000, Paired Rows: 463527, Time: 2017-12-07 21:16:53.333605
Total Rows Read: 6500000, Paired Rows: 471080, Time: 2017-12-07 21:17:48.054658
Total Rows Read: 6600000, Paired Rows: 478910, Time: 2017-12-07 21:18:43.465258
Total Rows Read: 6700000, Paired Rows: 486933, Time: 2017-12-07 21:19:40.610212
Total Rows Read: 6800000, Paired Rows: 495132, Time: 2017-12-07 21:20:35.130849
Total Rows Read: 6900000, Paired Rows: 503379, Time: 2017-12-07 21:21:30.414872
Total Rows Read: 7000000, Paired Rows: 511789, Time: 2017-12-07 21:22:22.684371
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 517994, Time: 2017-12-07 21:23:27.603469
Total Rows Read: 7200000, Paired Rows: 525615, Time: 2017-12-07 21:24:18.063806
Total Rows Read: 7300000, Paired Rows: 533547, Time: 2017-12-07 21:25:08.662805
Total Rows Read: 7400000, Paired Rows: 541549, Time: 2017-12-07 21:26:04.672153
Total Rows Read: 7500000, Paired Rows: 549553, Time: 2017-12-07 21:27:03.047235
Total Rows Read: 7600000, Paired Rows: 557730, Time: 2017-12-07 21:27:49.298489
Total Rows Read: 7700000, Paired Rows: 566071, Time: 2017-12-07 21:28:36.877812
Total Rows Read: 7800000, Paired Rows: 574434, Time: 2017-12-07 21:29:35.808340
Total Rows Read: 7900000, Paired Rows: 582766, Time: 2017-12-07 21:30:32.855991
Total Rows Read: 8000000, Paired Rows: 591018, Time: 2017-12-07 21:31:25.263040
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 597059, Time: 2017-12-07 21:32:39.565529
Total Rows Read: 8200000, Paired Rows: 604136, Time: 2017-12-07 21:33:32.068072
Total Rows Read: 8300000, Paired Rows: 611078, Time: 2017-12-07 21:34:22.873929
Total Rows Read: 8400000, Paired Rows: 618654, Time: 2017-12-07 21:35:20.360081
Total Rows Read: 8500000, Paired Rows: 626007, Time: 2017-12-07 21:36:11.461670
Total Rows Read: 8600000, Paired Rows: 633639, Time: 2017-12-07 21:37:04.527698
Total Rows Read: 8700000, Paired Rows: 641040, Time: 2017-12-07 21:37:59.202667
Total Rows Read: 8800000, Paired Rows: 648712, Time: 2017-12-07 21:38:52.239299
Total Rows Read: 8900000, Paired Rows: 656173, Time: 2017-12-07 21:39:42.838818
Total Rows Read: 9000000, Paired Rows: 663326, Time: 2017-12-07 21:40:33.350803
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 668629, Time: 2017-12-07 21:41:46.046720
Total Rows Read: 9200000, Paired Rows: 675377, Time: 2017-12-07 21:42:40.116307
Total Rows Read: 9300000, Paired Rows: 682690, Time: 2017-12-07 21:43:32.220558
Total Rows Read: 9400000, Paired Rows: 690268, Time: 2017-12-07 21:44:23.532026
Total Rows Read: 9500000, Paired Rows: 698023, Time: 2017-12-07 21:45:17.382698
Total Rows Read: 9600000, Paired Rows: 706096, Time: 2017-12-07 21:46:11.207640
Total Rows Read: 9700000, Paired Rows: 714578, Time: 2017-12-07 21:47:01.448448
Total Rows Read: 9800000, Paired Rows: 722911, Time: 2017-12-07 21:47:52.516564
Total Rows Read: 9900000, Paired Rows: 731155, Time: 2017-12-07 21:48:43.816533
Total Rows Read: 10000000, Paired Rows: 739482, Time: 2017-12-07 21:49:34.884069
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 745696, Time: 2017-12-07 21:50:45.024358
Total Rows Read: 10200000, Paired Rows: 753443, Time: 2017-12-07 21:51:36.935322

Total Rows Read: 10300000, Paired Rows: 761565, Time: 2017-12-07 21:52:29.679928
Total Rows Read: 10400000, Paired Rows: 769834, Time: 2017-12-07 21:53:21.564731
Total Rows Read: 10500000, Paired Rows: 778200, Time: 2017-12-07 21:54:18.255027
Total Rows Read: 10600000, Paired Rows: 786682, Time: 2017-12-07 21:55:19.420092
Total Rows Read: 10700000, Paired Rows: 794995, Time: 2017-12-07 21:56:12.479383
Total Rows Read: 10800000, Paired Rows: 803293, Time: 2017-12-07 21:57:09.599193
Total Rows Read: 10900000, Paired Rows: 811497, Time: 2017-12-07 21:58:01.137401
Total Rows Read: 11000000, Paired Rows: 819502, Time: 2017-12-07 21:59:01.746475
Cleanin up!
Total Rows Read: 11100000, Paired Rows: 825334, Time: 2017-12-07 22:00:09.586480
Total Rows Read: 11200000, Paired Rows: 832563, Time: 2017-12-07 22:00:55.897862
Total Rows Read: 11300000, Paired Rows: 840203, Time: 2017-12-07 22:01:42.632313
Total Rows Read: 11400000, Paired Rows: 847605, Time: 2017-12-07 22:02:30.042530
Total Rows Read: 11500000, Paired Rows: 854993, Time: 2017-12-07 22:03:17.344341
Total Rows Read: 11600000, Paired Rows: 862653, Time: 2017-12-07 22:04:04.709054
Total Rows Read: 11700000, Paired Rows: 870149, Time: 2017-12-07 22:04:52.497667
Total Rows Read: 11800000, Paired Rows: 877353, Time: 2017-12-07 22:05:40.773853
Total Rows Read: 11900000, Paired Rows: 884435, Time: 2017-12-07 22:06:28.245981
Total Rows Read: 12000000, Paired Rows: 891935, Time: 2017-12-07 22:07:15.811803
Cleanin up!
Total Rows Read: 12100000, Paired Rows: 897675, Time: 2017-12-07 22:08:26.081537
Total Rows Read: 12200000, Paired Rows: 904718, Time: 2017-12-07 22:09:12.658056
Total Rows Read: 12300000, Paired Rows: 912253, Time: 2017-12-07 22:09:59.016078
Total Rows Read: 12400000, Paired Rows: 920138, Time: 2017-12-07 22:10:46.537704
Total Rows Read: 12500000, Paired Rows: 928287, Time: 2017-12-07 22:11:32.160708
Total Rows Read: 12600000, Paired Rows: 936545, Time: 2017-12-07 22:12:18.052771
Total Rows Read: 12700000, Paired Rows: 944996, Time: 2017-12-07 22:13:04.285852
Total Rows Read: 12800000, Paired Rows: 953413, Time: 2017-12-07 22:13:50.094002
Total Rows Read: 12900000, Paired Rows: 961754, Time: 2017-12-07 22:14:35.428973
Total Rows Read: 13000000, Paired Rows: 970144, Time: 2017-12-07 22:15:21.659262
Cleanin up!
Total Rows Read: 13100000, Paired Rows: 976249, Time: 2017-12-07 22:16:32.824381
Total Rows Read: 13200000, Paired Rows: 983658, Time: 2017-12-07 22:17:19.147465
Total Rows Read: 13300000, Paired Rows: 991415, Time: 2017-12-07 22:18:05.547358
Total Rows Read: 13400000, Paired Rows: 998846, Time: 2017-12-07 22:18:51.182884
Total Rows Read: 13500000, Paired Rows: 1006848, Time: 2017-12-07 22:19:38.182328
Total Rows Read: 13600000, Paired Rows: 1014705, Time: 2017-12-07 22:20:25.016715
Total Rows Read: 13700000, Paired Rows: 1022488, Time: 2017-12-07 22:21:11.952848
Total Rows Read: 13800000, Paired Rows: 1030373, Time: 2017-12-07 22:21:58.485926
Total Rows Read: 13900000, Paired Rows: 1037960, Time: 2017-12-07 22:22:44.156579
Total Rows Read: 14000000, Paired Rows: 1045438, Time: 2017-12-07 22:23:29.455591
Cleanin up!
Total Rows Read: 14100000, Paired Rows: 1050723, Time: 2017-12-07 22:24:40.222910
Total Rows Read: 14200000, Paired Rows: 1057280, Time: 2017-12-07 22:25:25.391835
Total Rows Read: 14300000, Paired Rows: 1064052, Time: 2017-12-07 22:26:11.766035
Total Rows Read: 14400000, Paired Rows: 1070970, Time: 2017-12-07 22:26:57.752176
Total Rows Read: 14500000, Paired Rows: 1078870, Time: 2017-12-07 22:27:45.890117
Total Rows Read: 14600000, Paired Rows: 1086557, Time: 2017-12-07 22:28:33.836784
Total Rows Read: 14700000, Paired Rows: 1093796, Time: 2017-12-07 22:29:21.577403
Total Rows Read: 14800000, Paired Rows: 1100860, Time: 2017-12-07 22:30:08.124816
Total Rows Read: 14900000, Paired Rows: 1108118, Time: 2017-12-07 22:30:55.425838
Total Rows Read: 15000000, Paired Rows: 1116120, Time: 2017-12-07 22:31:42.224022
Cleanin up!
Total Rows Read: 15100000, Paired Rows: 1122159, Time: 2017-12-07 22:32:55.841463
Total Rows Read: 15200000, Paired Rows: 1129680, Time: 2017-12-07 22:33:41.687313
Total Rows Read: 15300000, Paired Rows: 1137746, Time: 2017-12-07 22:34:28.350089
Total Rows Read: 15400000, Paired Rows: 1145637, Time: 2017-12-07 22:35:14.695355
Total Rows Read: 15500000, Paired Rows: 1154029, Time: 2017-12-07 22:36:00.992692
Total Rows Read: 15600000, Paired Rows: 1162604, Time: 2017-12-07 22:36:47.811622
Total Rows Read: 15700000, Paired Rows: 1170929, Time: 2017-12-07 22:37:34.987162
Total Rows Read: 15800000, Paired Rows: 1179416, Time: 2017-12-07 22:38:20.594403
Total Rows Read: 15900000, Paired Rows: 1187996, Time: 2017-12-07 22:39:06.648587
Total Rows Read: 16000000, Paired Rows: 1196151, Time: 2017-12-07 22:39:51.910841
Cleanin up!
Total Rows Read: 16100000, Paired Rows: 1202467, Time: 2017-12-07 22:41:07.317196
Total Rows Read: 16200000, Paired Rows: 1209985, Time: 2017-12-07 22:41:53.097972
Total Rows Read: 16300000, Paired Rows: 1217943, Time: 2017-12-07 22:42:39.428192
Total Rows Read: 16400000, Paired Rows: 1225698, Time: 2017-12-07 22:43:25.940693
Total Rows Read: 16500000, Paired Rows: 1233578, Time: 2017-12-07 22:44:13.192218
Total Rows Read: 16600000, Paired Rows: 1241641, Time: 2017-12-07 22:44:59.631017
Total Rows Read: 16700000, Paired Rows: 1249422, Time: 2017-12-07 22:45:45.077649
Total Rows Read: 16800000, Paired Rows: 1257067, Time: 2017-12-07 22:46:29.791428
Total Rows Read: 16900000, Paired Rows: 1264529, Time: 2017-12-07 22:47:13.906411
Total Rows Read: 17000000, Paired Rows: 1272291, Time: 2017-12-07 22:47:58.599784
Cleanin up!
Total Rows Read: 17100000, Paired Rows: 1278348, Time: 2017-12-07 22:49:14.256824
Total Rows Read: 17200000, Paired Rows: 1285664, Time: 2017-12-07 22:50:00.330205
Total Rows Read: 17300000, Paired Rows: 1292903, Time: 2017-12-07 22:50:46.923868
Total Rows Read: 17400000, Paired Rows: 1299753, Time: 2017-12-07 22:51:33.317959
Total Rows Read: 17500000, Paired Rows: 1306563, Time: 2017-12-07 22:52:19.509513
Total Rows Read: 17600000, Paired Rows: 1313633, Time: 2017-12-07 22:53:05.636476
Total Rows Read: 17700000, Paired Rows: 1320904, Time: 2017-12-07 22:53:50.909752
Total Rows Read: 17800000, Paired Rows: 1328643, Time: 2017-12-07 22:54:36.635888
Total Rows Read: 17900000, Paired Rows: 1336731, Time: 2017-12-07 22:55:21.956689
Total Rows Read: 18000000, Paired Rows: 1344854, Time: 2017-12-07 22:56:07.106470
Cleanin up!
Total Rows Read: 18100000, Paired Rows: 1351078, Time: 2017-12-07 22:57:25.004452
Total Rows Read: 18200000, Paired Rows: 1358523, Time: 2017-12-07 22:58:10.058272
Total Rows Read: 18300000, Paired Rows: 1366242, Time: 2017-12-07 22:58:56.323293
Total Rows Read: 18400000, Paired Rows: 1374279, Time: 2017-12-07 22:59:42.543386
Total Rows Read: 18500000, Paired Rows: 1382315, Time: 2017-12-07 23:00:28.006279
Total Rows Read: 18600000, Paired Rows: 1390409, Time: 2017-12-07 23:01:13.517013
Total Rows Read: 18700000, Paired Rows: 1398505, Time: 2017-12-07 23:01:59.535798
Total Rows Read: 18800000, Paired Rows: 1406664, Time: 2017-12-07 23:02:45.093519
Total Rows Read: 18900000, Paired Rows: 1414570, Time: 2017-12-07 23:03:29.651484
Total Rows Read: 19000000, Paired Rows: 1422492, Time: 2017-12-07 23:04:14.265794
Cleanin up!
Total Rows Read: 19100000, Paired Rows: 1428543, Time: 2017-12-07 23:05:32.305261
Total Rows Read: 19200000, Paired Rows: 1435276, Time: 2017-12-07 23:06:15.509228
Total Rows Read: 19300000, Paired Rows: 1442413, Time: 2017-12-07 23:07:00.347029
Total Rows Read: 19400000, Paired Rows: 1449491, Time: 2017-12-07 23:07:44.807675
Total Rows Read: 19500000, Paired Rows: 1456694, Time: 2017-12-07 23:08:28.703020
Total Rows Read: 19600000, Paired Rows: 1464280, Time: 2017-12-07 23:09:13.116399
Total Rows Read: 19700000, Paired Rows: 1471794, Time: 2017-12-07 23:09:57.322734
Total Rows Read: 19800000, Paired Rows: 1479478, Time: 2017-12-07 23:10:42.402985
Total Rows Read: 19900000, Paired Rows: 1486878, Time: 2017-12-07 23:11:28.700382
Total Rows Read: 20000000, Paired Rows: 1494102, Time: 2017-12-07 23:12:14.589213
Cleanin up!
Total Rows Read: 20100000, Paired Rows: 1499708, Time: 2017-12-07 23:13:33.919533

Total Rows Read: 20200000, Paired Rows: 1506187, Time: 2017-12-07 23:14:19.665399
Total Rows Read: 20300000, Paired Rows: 1513460, Time: 2017-12-07 23:15:05.581509
Total Rows Read: 20400000, Paired Rows: 1521137, Time: 2017-12-07 23:15:51.627772
Total Rows Read: 20500000, Paired Rows: 1529258, Time: 2017-12-07 23:16:43.408452
Total Rows Read: 20600000, Paired Rows: 1537609, Time: 2017-12-07 23:17:34.122663
Total Rows Read: 20700000, Paired Rows: 1545525, Time: 2017-12-07 23:18:23.440711
Total Rows Read: 20800000, Paired Rows: 1553016, Time: 2017-12-07 23:19:10.410537
Total Rows Read: 20900000, Paired Rows: 1560513, Time: 2017-12-07 23:19:57.274547
Total Rows Read: 21000000, Paired Rows: 1567875, Time: 2017-12-07 23:20:41.670405
Cleanin up!
Total Rows Read: 21100000, Paired Rows: 1573204, Time: 2017-12-07 23:20:49.145990
Total Rows Read: 21200000, Paired Rows: 1579943, Time: 2017-12-07 23:21:34.451055
Total Rows Read: 21300000, Paired Rows: 1587163, Time: 2017-12-07 23:22:19.906353
Total Rows Read: 21400000, Paired Rows: 1594622, Time: 2017-12-07 23:23:06.176807
Total Rows Read: 21500000, Paired Rows: 1602075, Time: 2017-12-07 23:23:52.106823
Total Rows Read: 21600000, Paired Rows: 1609351, Time: 2017-12-07 23:24:41.521352
Total Rows Read: 21700000, Paired Rows: 1617108, Time: 2017-12-07 23:25:31.020160
Total Rows Read: 21800000, Paired Rows: 1624880, Time: 2017-12-07 23:26:22.903084
Total Rows Read: 21900000, Paired Rows: 1632264, Time: 2017-12-07 23:27:14.704651
Total Rows Read: 22000000, Paired Rows: 1639621, Time: 2017-12-07 23:28:06.640462
Cleanin up!
Total Rows Read: 22100000, Paired Rows: 1645327, Time: 2017-12-07 23:29:38.007490
Total Rows Read: 22200000, Paired Rows: 1652049, Time: 2017-12-07 23:30:25.761208
Total Rows Read: 22300000, Paired Rows: 1659715, Time: 2017-12-07 23:31:13.402872
Total Rows Read: 22400000, Paired Rows: 1667179, Time: 2017-12-07 23:32:03.783060
Total Rows Read: 22500000, Paired Rows: 1674394, Time: 2017-12-07 23:32:58.646820
Total Rows Read: 22600000, Paired Rows: 1681427, Time: 2017-12-07 23:33:53.264930
Total Rows Read: 22700000, Paired Rows: 1688704, Time: 2017-12-07 23:34:46.954199
Total Rows Read: 22800000, Paired Rows: 1696381, Time: 2017-12-07 23:35:39.436842
Total Rows Read: 22900000, Paired Rows: 1704365, Time: 2017-12-07 23:36:33.367212
Total Rows Read: 23000000, Paired Rows: 1712351, Time: 2017-12-07 23:37:25.656335
Cleanin up!
Total Rows Read: 23100000, Paired Rows: 1718501, Time: 2017-12-07 23:38:58.636043
Total Rows Read: 23200000, Paired Rows: 1725913, Time: 2017-12-07 23:39:47.672330
Total Rows Read: 23300000, Paired Rows: 1733597, Time: 2017-12-07 23:40:33.596398
Total Rows Read: 23400000, Paired Rows: 1741491, Time: 2017-12-07 23:41:20.809586
Total Rows Read: 23500000, Paired Rows: 1749480, Time: 2017-12-07 23:42:07.934757
Total Rows Read: 23600000, Paired Rows: 1757530, Time: 2017-12-07 23:42:56.476736
Total Rows Read: 23700000, Paired Rows: 1765449, Time: 2017-12-07 23:43:44.184546
Total Rows Read: 23800000, Paired Rows: 1773396, Time: 2017-12-07 23:44:30.668987
Total Rows Read: 23900000, Paired Rows: 1781442, Time: 2017-12-07 23:45:17.107718
Total Rows Read: 24000000, Paired Rows: 1789457, Time: 2017-12-07 23:46:01.979513
Cleanin up!
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24100000, Paired Rows: 1795174, Time: 2017-12-07 23:47:29.535041
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24200000, Paired Rows: 1802470, Time: 2017-12-07 23:48:16.632688
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'

'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24300000, Paired Rows: 1810198, Time: 2017-12-07 23:49:03.965099
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24400000, Paired Rows: 1817790, Time: 2017-12-07 23:49:50.637990
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24500000, Paired Rows: 1825656, Time: 2017-12-07 23:50:36.668514
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24600000, Paired Rows: 1832895, Time: 2017-12-07 23:51:21.502058
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24700000, Paired Rows: 1839912, Time: 2017-12-07 23:52:05.583161
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'

'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24800000, Paired Rows: 1846758, Time: 2017-12-07 23:52:49.507955
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 24900000, Paired Rows: 1853953, Time: 2017-12-07 23:53:33.256860
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25000000, Paired Rows: 1861385, Time: 2017-12-07 23:54:17.574961
Cleanin up!
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25100000, Paired Rows: 1866972, Time: 2017-12-07 23:55:46.073143
'>=' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25200000, Paired Rows: 1873699, Time: 2017-12-07 23:56:33.016932
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25300000, Paired Rows: 1880642, Time: 2017-12-07 23:57:20.520975
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25400000, Paired Rows: 1887702, Time: 2017-12-07 23:58:08.264537
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25500000, Paired Rows: 1894531, Time: 2017-12-07 23:59:00.587459
Total Rows Read: 25600000, Paired Rows: 1901723, Time: 2017-12-07 23:59:53.714167
Total Rows Read: 25700000, Paired Rows: 1909099, Time: 2017-12-08 00:00:45.754284
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 25800000, Paired Rows: 1917111, Time: 2017-12-08 00:01:38.867280
Total Rows Read: 25900000, Paired Rows: 1925247, Time: 2017-12-08 00:02:39.393053
Total Rows Read: 26000000, Paired Rows: 1933437, Time: 2017-12-08 00:03:34.914918
Cleanin up!
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 26100000, Paired Rows: 1939730, Time: 2017-12-08 00:05:13.615015
Total Rows Read: 26200000, Paired Rows: 1945845, Time: 2017-12-08 00:06:07.176587
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 26300000, Paired Rows: 1952567, Time: 2017-12-08 00:07:00.839989
Total Rows Read: 26400000, Paired Rows: 1959677, Time: 2017-12-08 00:07:58.252317
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 26500000, Paired Rows: 1965859, Time: 2017-12-08 00:08:53.927210
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 26600000, Paired Rows: 1973964, Time: 2017-12-08 00:09:59.350638
Total Rows Read: 26700000, Paired Rows: 1982228, Time: 2017-12-08 00:10:56.882861
Total Rows Read: 26800000, Paired Rows: 1990454, Time: 2017-12-08 00:11:54.019910
Total Rows Read: 26900000, Paired Rows: 1999002, Time: 2017-12-08 00:12:49.504544
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 27000000, Paired Rows: 2007356, Time: 2017-12-08 00:13:44.106401
Cleanin up!
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 27100000, Paired Rows: 2013575, Time: 2017-12-08 00:15:28.992578
Total Rows Read: 27200000, Paired Rows: 2021048, Time: 2017-12-08 00:16:24.709973
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 27300000, Paired Rows: 2028982, Time: 2017-12-08 00:17:19.436551
Total Rows Read: 27400000, Paired Rows: 2036739, Time: 2017-12-08 00:18:19.258501
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 27500000, Paired Rows: 2044213, Time: 2017-12-08 00:19:16.051969
Total Rows Read: 27600000, Paired Rows: 2051372, Time: 2017-12-08 00:20:10.298404
Total Rows Read: 27700000, Paired Rows: 2058712, Time: 2017-12-08 00:21:08.846254
Total Rows Read: 27800000, Paired Rows: 2066868, Time: 2017-12-08 00:22:03.864783
Total Rows Read: 27900000, Paired Rows: 2075015, Time: 2017-12-08 00:22:50.786455
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 28000000, Paired Rows: 2083256, Time: 2017-12-08 00:23:38.393756
Cleanin up!
Total Rows Read: 28100000, Paired Rows: 2089178, Time: 2017-12-08 00:25:19.926643
Total Rows Read: 28200000, Paired Rows: 2095935, Time: 2017-12-08 00:26:12.901712
Total Rows Read: 28300000, Paired Rows: 2102553, Time: 2017-12-08 00:27:05.104379
Total Rows Read: 28400000, Paired Rows: 2109234, Time: 2017-12-08 00:28:02.802896
Total Rows Read: 28500000, Paired Rows: 2116427, Time: 2017-12-08 00:28:56.874045
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 28600000, Paired Rows: 2124064, Time: 2017-12-08 00:29:53.241080
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 28700000, Paired Rows: 2131843, Time: 2017-12-08 00:30:47.307707
Total Rows Read: 28800000, Paired Rows: 2139931, Time: 2017-12-08 00:31:39.512387
Total Rows Read: 28900000, Paired Rows: 2148055, Time: 2017-12-08 00:32:31.222850
Total Rows Read: 29000000, Paired Rows: 2156414, Time: 2017-12-08 00:33:23.814891
Cleanin up!
Total Rows Read: 29100000, Paired Rows: 2162605, Time: 2017-12-08 00:35:27.413744
Total Rows Read: 29200000, Paired Rows: 2170132, Time: 2017-12-08 00:36:20.225175
Total Rows Read: 29300000, Paired Rows: 2177923, Time: 2017-12-08 00:37:14.279113
Total Rows Read: 29400000, Paired Rows: 2186054, Time: 2017-12-08 00:38:07.612611
Total Rows Read: 29500000, Paired Rows: 2194184, Time: 2017-12-08 00:39:03.628447
Total Rows Read: 29600000, Paired Rows: 2202597, Time: 2017-12-08 00:39:56.164119
Total Rows Read: 29700000, Paired Rows: 2210951, Time: 2017-12-08 00:40:48.619926
Total Rows Read: 29800000, Paired Rows: 2219316, Time: 2017-12-08 00:41:40.592177
Total Rows Read: 29900000, Paired Rows: 2227478, Time: 2017-12-08 00:42:34.565939
Total Rows Read: 30000000, Paired Rows: 2235620, Time: 2017-12-08 00:43:25.822359
Cleanin up!
Total Rows Read: 30100000, Paired Rows: 2241517, Time: 2017-12-08 00:45:12.935610
Total Rows Read: 30200000, Paired Rows: 2248468, Time: 2017-12-08 00:46:07.183614
Total Rows Read: 30300000, Paired Rows: 2255638, Time: 2017-12-08 00:46:59.592203
Total Rows Read: 30400000, Paired Rows: 2263009, Time: 2017-12-08 00:47:51.282000
Total Rows Read: 30500000, Paired Rows: 2270436, Time: 2017-12-08 00:48:42.513831
Total Rows Read: 30600000, Paired Rows: 2278010, Time: 2017-12-08 00:49:40.665968
Total Rows Read: 30700000, Paired Rows: 2285456, Time: 2017-12-08 00:50:31.139342
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 30800000, Paired Rows: 2292868, Time: 2017-12-08 00:51:21.964291
Total Rows Read: 30900000, Paired Rows: 2300404, Time: 2017-12-08 00:52:12.272455
Total Rows Read: 31000000, Paired Rows: 2308085, Time: 2017-12-08 00:53:02.725364
Cleanin up!

Total Rows Read: 31100000, Paired Rows: 2313406, Time: 2017-12-08 00:54:44.283985
Total Rows Read: 31200000, Paired Rows: 2319696, Time: 2017-12-08 00:55:35.576129
Total Rows Read: 31300000, Paired Rows: 2326320, Time: 2017-12-08 00:56:27.723521
Total Rows Read: 31400000, Paired Rows: 2333511, Time: 2017-12-08 00:57:18.759912
Total Rows Read: 31500000, Paired Rows: 2340989, Time: 2017-12-08 00:58:09.814959
Total Rows Read: 31600000, Paired Rows: 2348664, Time: 2017-12-08 00:59:01.150653
Total Rows Read: 31700000, Paired Rows: 2356741, Time: 2017-12-08 00:59:59.766240
Total Rows Read: 31800000, Paired Rows: 2364964, Time: 2017-12-08 01:00:50.349670
Total Rows Read: 31900000, Paired Rows: 2373267, Time: 2017-12-08 01:01:40.893468
Total Rows Read: 32000000, Paired Rows: 2381841, Time: 2017-12-08 01:02:31.459776
Cleanin up!
Total Rows Read: 32100000, Paired Rows: 2388218, Time: 2017-12-08 01:04:13.774215
Total Rows Read: 32200000, Paired Rows: 2396115, Time: 2017-12-08 01:05:04.747339
Total Rows Read: 32300000, Paired Rows: 2404150, Time: 2017-12-08 01:05:56.409059
Total Rows Read: 32400000, Paired Rows: 2412484, Time: 2017-12-08 01:06:48.881428
Total Rows Read: 32500000, Paired Rows: 2420889, Time: 2017-12-08 01:07:47.694332
Total Rows Read: 32600000, Paired Rows: 2429231, Time: 2017-12-08 01:08:39.357514
Total Rows Read: 32700000, Paired Rows: 2437594, Time: 2017-12-08 01:09:30.770148
Total Rows Read: 32800000, Paired Rows: 2445930, Time: 2017-12-08 01:10:22.430359
Total Rows Read: 32900000, Paired Rows: 2454272, Time: 2017-12-08 01:11:13.899264
Total Rows Read: 33000000, Paired Rows: 2462721, Time: 2017-12-08 01:12:05.235566
Cleanin up!
Total Rows Read: 33100000, Paired Rows: 2468861, Time: 2017-12-08 01:13:59.719076
Total Rows Read: 33200000, Paired Rows: 2476039, Time: 2017-12-08 01:14:51.849397
Total Rows Read: 33300000, Paired Rows: 2482893, Time: 2017-12-08 01:15:42.918388
Total Rows Read: 33400000, Paired Rows: 2489709, Time: 2017-12-08 01:16:33.319974
Total Rows Read: 33500000, Paired Rows: 2496527, Time: 2017-12-08 01:17:24.203618
Total Rows Read: 33600000, Paired Rows: 2503234, Time: 2017-12-08 01:18:13.642931
Total Rows Read: 33700000, Paired Rows: 2509703, Time: 2017-12-08 01:19:03.280513
Total Rows Read: 33800000, Paired Rows: 2516637, Time: 2017-12-08 01:20:00.669110
Total Rows Read: 33900000, Paired Rows: 2524211, Time: 2017-12-08 01:20:55.099320
Total Rows Read: 34000000, Paired Rows: 2531396, Time: 2017-12-08 01:21:51.055633
Cleanin up!
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 34100000, Paired Rows: 2536794, Time: 2017-12-08 01:23:39.560136
'>' not supported between instances of 'NoneType' and 'int'
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 34200000, Paired Rows: 2543362, Time: 2017-12-08 01:24:32.441094
Total Rows Read: 34300000, Paired Rows: 2550400, Time: 2017-12-08 01:25:27.222897
Total Rows Read: 34400000, Paired Rows: 2558117, Time: 2017-12-08 01:26:24.668791
Total Rows Read: 34500000, Paired Rows: 2566064, Time: 2017-12-08 01:27:16.465132
Total Rows Read: 34600000, Paired Rows: 2574286, Time: 2017-12-08 01:28:08.925984
Total Rows Read: 34700000, Paired Rows: 2582530, Time: 2017-12-08 01:29:00.165357
Total Rows Read: 34800000, Paired Rows: 2590783, Time: 2017-12-08 01:29:50.597010
Total Rows Read: 34900000, Paired Rows: 2599102, Time: 2017-12-08 01:30:40.835255
Total Rows Read: 35000000, Paired Rows: 2607457, Time: 2017-12-08 01:31:31.308099
Cleanin up!
Total Rows Read: 35100000, Paired Rows: 2613612, Time: 2017-12-08 01:33:19.762877
Total Rows Read: 35200000, Paired Rows: 2621202, Time: 2017-12-08 01:34:15.898126
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 35300000, Paired Rows: 2629170, Time: 2017-12-08 01:35:15.534240
Total Rows Read: 35400000, Paired Rows: 2637187, Time: 2017-12-08 01:36:10.296406
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 35500000, Paired Rows: 2645099, Time: 2017-12-08 01:37:01.546271
Total Rows Read: 35600000, Paired Rows: 2652944, Time: 2017-12-08 01:37:52.160797
Total Rows Read: 35700000, Paired Rows: 2660907, Time: 2017-12-08 01:38:44.073597
Total Rows Read: 35800000, Paired Rows: 2669010, Time: 2017-12-08 01:39:35.365090
Total Rows Read: 35900000, Paired Rows: 2677075, Time: 2017-12-08 01:40:29.475363
Total Rows Read: 36000000, Paired Rows: 2684885, Time: 2017-12-08 01:41:20.902537
Cleanin up!
Total Rows Read: 36100000, Paired Rows: 2690510, Time: 2017-12-08 01:43:11.122921
Total Rows Read: 36200000, Paired Rows: 2697015, Time: 2017-12-08 01:44:03.232412
Total Rows Read: 36300000, Paired Rows: 2704047, Time: 2017-12-08 01:45:02.156762
Total Rows Read: 36400000, Paired Rows: 2711515, Time: 2017-12-08 01:45:55.084878
Total Rows Read: 36500000, Paired Rows: 2719170, Time: 2017-12-08 01:46:47.223897
Total Rows Read: 36600000, Paired Rows: 2726231, Time: 2017-12-08 01:47:37.166335
Total Rows Read: 36700000, Paired Rows: 2733363, Time: 2017-12-08 01:48:27.656394
Total Rows Read: 36800000, Paired Rows: 2740163, Time: 2017-12-08 01:49:17.815742
Total Rows Read: 36900000, Paired Rows: 2746987, Time: 2017-12-08 01:50:07.069717
Total Rows Read: 37000000, Paired Rows: 2754328, Time: 2017-12-08 01:50:57.092006
Cleanin up!
Total Rows Read: 37100000, Paired Rows: 2759888, Time: 2017-12-08 01:52:57.201279
Total Rows Read: 37200000, Paired Rows: 2767200, Time: 2017-12-08 01:53:49.062423
Total Rows Read: 37300000, Paired Rows: 2774932, Time: 2017-12-08 01:54:41.083825
Total Rows Read: 37400000, Paired Rows: 2782867, Time: 2017-12-08 01:55:36.690029
Total Rows Read: 37500000, Paired Rows: 2790981, Time: 2017-12-08 01:56:28.270456
Total Rows Read: 37600000, Paired Rows: 2799102, Time: 2017-12-08 01:57:21.232478
Total Rows Read: 37700000, Paired Rows: 2806935, Time: 2017-12-08 01:58:14.852479
Total Rows Read: 37800000, Paired Rows: 2815016, Time: 2017-12-08 01:59:07.020968
Total Rows Read: 37900000, Paired Rows: 2822801, Time: 2017-12-08 01:59:57.194520
Total Rows Read: 38000000, Paired Rows: 2830709, Time: 2017-12-08 02:00:47.874347
Cleanin up!
Total Rows Read: 38100000, Paired Rows: 2836885, Time: 2017-12-08 02:02:57.579480
Total Rows Read: 38200000, Paired Rows: 2843922, Time: 2017-12-08 02:03:55.149988
Total Rows Read: 38300000, Paired Rows: 2851088, Time: 2017-12-08 02:04:47.190787
Total Rows Read: 38400000, Paired Rows: 2858965, Time: 2017-12-08 02:05:44.980409
Total Rows Read: 38500000, Paired Rows: 2866513, Time: 2017-12-08 02:06:38.931970
Total Rows Read: 38600000, Paired Rows: 2874061, Time: 2017-12-08 02:07:33.765006
Total Rows Read: 38700000, Paired Rows: 2881666, Time: 2017-12-08 02:08:23.849216
Total Rows Read: 38800000, Paired Rows: 2889206, Time: 2017-12-08 02:09:14.263354
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 38900000, Paired Rows: 2896861, Time: 2017-12-08 02:10:05.278970
Total Rows Read: 39000000, Paired Rows: 2904631, Time: 2017-12-08 02:10:57.313979
Cleanin up!
Total Rows Read: 39100000, Paired Rows: 2910194, Time: 2017-12-08 02:13:09.591118
Total Rows Read: 39200000, Paired Rows: 2916870, Time: 2017-12-08 02:14:00.654148
Total Rows Read: 39300000, Paired Rows: 2923472, Time: 2017-12-08 02:14:52.599337
Total Rows Read: 39400000, Paired Rows: 2930559, Time: 2017-12-08 02:15:41.086674
Total Rows Read: 39500000, Paired Rows: 2937958, Time: 2017-12-08 02:16:28.844515
Total Rows Read: 39600000, Paired Rows: 2945599, Time: 2017-12-08 02:17:15.629629
Total Rows Read: 39700000, Paired Rows: 2953470, Time: 2017-12-08 02:18:02.377608
Total Rows Read: 39800000, Paired Rows: 2961498, Time: 2017-12-08 02:18:48.849631
Total Rows Read: 39900000, Paired Rows: 2969632, Time: 2017-12-08 02:19:35.793999
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 40000000, Paired Rows: 2977589, Time: 2017-12-08 02:20:21.981962
Cleanin up!
Total Rows Read: 40100000, Paired Rows: 2982810, Time: 2017-12-08 02:22:24.740216
Total Rows Read: 40200000, Paired Rows: 2989113, Time: 2017-12-08 02:23:08.552283
Total Rows Read: 40300000, Paired Rows: 2996046, Time: 2017-12-08 02:23:54.772295
Total Rows Read: 40400000, Paired Rows: 3002782, Time: 2017-12-08 02:24:40.049450

Total Rows Read: 40500000, Paired Rows: 3009686, Time: 2017-12-08 02:25:25.187134
Total Rows Read: 40600000, Paired Rows: 3017283, Time: 2017-12-08 02:26:11.184984
Total Rows Read: 40700000, Paired Rows: 3025062, Time: 2017-12-08 02:26:57.520629
Total Rows Read: 40800000, Paired Rows: 3033070, Time: 2017-12-08 02:27:44.348740
Total Rows Read: 40900000, Paired Rows: 3040872, Time: 2017-12-08 02:28:30.152139
Total Rows Read: 41000000, Paired Rows: 3049041, Time: 2017-12-08 02:29:16.297132
Cleanin up!
Total Rows Read: 41100000, Paired Rows: 3055211, Time: 2017-12-08 02:31:18.058906
Total Rows Read: 41200000, Paired Rows: 3062316, Time: 2017-12-08 02:32:03.680800
Total Rows Read: 41300000, Paired Rows: 3069815, Time: 2017-12-08 02:32:50.213097
Total Rows Read: 41400000, Paired Rows: 3077159, Time: 2017-12-08 02:33:36.273503
Total Rows Read: 41500000, Paired Rows: 3084719, Time: 2017-12-08 02:34:22.165266
Total Rows Read: 41600000, Paired Rows: 3092623, Time: 2017-12-08 02:35:08.555464
Total Rows Read: 41700000, Paired Rows: 3100296, Time: 2017-12-08 02:35:55.386996
Total Rows Read: 41800000, Paired Rows: 3107943, Time: 2017-12-08 02:36:42.027381
Total Rows Read: 41900000, Paired Rows: 3115294, Time: 2017-12-08 02:37:28.134189
Total Rows Read: 42000000, Paired Rows: 3122780, Time: 2017-12-08 02:38:14.350189
Cleanin up!
Total Rows Read: 42100000, Paired Rows: 3128528, Time: 2017-12-08 02:40:19.290310
Total Rows Read: 42200000, Paired Rows: 3135604, Time: 2017-12-08 02:41:05.148116
Total Rows Read: 42300000, Paired Rows: 3143372, Time: 2017-12-08 02:41:51.303956
Total Rows Read: 42400000, Paired Rows: 3151589, Time: 2017-12-08 02:42:37.254956
Total Rows Read: 42500000, Paired Rows: 3159734, Time: 2017-12-08 02:43:23.450153
Total Rows Read: 42600000, Paired Rows: 3168194, Time: 2017-12-08 02:44:09.463077
Total Rows Read: 42700000, Paired Rows: 3176615, Time: 2017-12-08 02:44:55.552374
Total Rows Read: 42800000, Paired Rows: 3184979, Time: 2017-12-08 02:45:41.630374
Total Rows Read: 42900000, Paired Rows: 3193352, Time: 2017-12-08 02:46:27.330133
Total Rows Read: 43000000, Paired Rows: 3201855, Time: 2017-12-08 02:47:12.874335
Cleanin up!
Total Rows Read: 43100000, Paired Rows: 3208159, Time: 2017-12-08 02:49:30.548691
Total Rows Read: 43200000, Paired Rows: 3216002, Time: 2017-12-08 02:50:17.019309
Total Rows Read: 43300000, Paired Rows: 3223953, Time: 2017-12-08 02:51:03.437342
Total Rows Read: 43400000, Paired Rows: 3232330, Time: 2017-12-08 02:51:50.179371
Total Rows Read: 43500000, Paired Rows: 3240706, Time: 2017-12-08 02:52:36.400962
Total Rows Read: 43600000, Paired Rows: 3248810, Time: 2017-12-08 02:53:20.908371
Total Rows Read: 43700000, Paired Rows: 3256913, Time: 2017-12-08 02:54:07.832389
Total Rows Read: 43800000, Paired Rows: 3264731, Time: 2017-12-08 02:54:54.030791
Total Rows Read: 43900000, Paired Rows: 3272144, Time: 2017-12-08 02:55:39.384914
Total Rows Read: 44000000, Paired Rows: 3279721, Time: 2017-12-08 02:56:24.848036
Cleanin up!
Total Rows Read: 44100000, Paired Rows: 3285252, Time: 2017-12-08 02:58:47.863056
Total Rows Read: 44200000, Paired Rows: 3292061, Time: 2017-12-08 02:59:33.908658
Total Rows Read: 44300000, Paired Rows: 3298997, Time: 2017-12-08 03:00:19.610253
Total Rows Read: 44400000, Paired Rows: 3306411, Time: 2017-12-08 03:01:06.692784
Total Rows Read: 44500000, Paired Rows: 3313704, Time: 2017-12-08 03:01:54.063484
Total Rows Read: 44600000, Paired Rows: 3320639, Time: 2017-12-08 03:02:41.196539
Total Rows Read: 44700000, Paired Rows: 3327733, Time: 2017-12-08 03:03:27.841440
Total Rows Read: 44800000, Paired Rows: 3335003, Time: 2017-12-08 03:04:13.602590
Total Rows Read: 44900000, Paired Rows: 3342936, Time: 2017-12-08 03:04:59.349164
Total Rows Read: 45000000, Paired Rows: 3350950, Time: 2017-12-08 03:05:45.041292
Cleanin up!
Total Rows Read: 45100000, Paired Rows: 3356745, Time: 2017-12-08 03:08:16.962550
Total Rows Read: 45200000, Paired Rows: 3364020, Time: 2017-12-08 03:08:58.940201
Total Rows Read: 45300000, Paired Rows: 3371910, Time: 2017-12-08 03:09:45.567770
Total Rows Read: 45400000, Paired Rows: 3379950, Time: 2017-12-08 03:10:32.148875
Total Rows Read: 45500000, Paired Rows: 3388207, Time: 2017-12-08 03:11:18.146248
Total Rows Read: 45600000, Paired Rows: 3396715, Time: 2017-12-08 03:12:04.410622
Total Rows Read: 45700000, Paired Rows: 3404932, Time: 2017-12-08 03:12:50.441603
Total Rows Read: 45800000, Paired Rows: 3413491, Time: 2017-12-08 03:13:36.548236
Total Rows Read: 45900000, Paired Rows: 3421914, Time: 2017-12-08 03:14:22.795763
Total Rows Read: 46000000, Paired Rows: 3429970, Time: 2017-12-08 03:15:08.371811
Cleanin up!
Total Rows Read: 46100000, Paired Rows: 3436112, Time: 2017-12-08 03:17:43.389029
Total Rows Read: 46200000, Paired Rows: 3443622, Time: 2017-12-08 03:18:29.321838
Total Rows Read: 46300000, Paired Rows: 3451455, Time: 2017-12-08 03:19:16.122305
Total Rows Read: 46400000, Paired Rows: 3459318, Time: 2017-12-08 03:20:02.638724
Total Rows Read: 46500000, Paired Rows: 3466968, Time: 2017-12-08 03:19:46.630545
Total Rows Read: 46600000, Paired Rows: 3474759, Time: 2017-12-08 03:20:32.849174
Total Rows Read: 46700000, Paired Rows: 3482319, Time: 2017-12-08 03:21:20.889082
Total Rows Read: 46800000, Paired Rows: 3489285, Time: 2017-12-08 03:22:07.547931
Total Rows Read: 46900000, Paired Rows: 3496663, Time: 2017-12-08 03:22:52.964733
Total Rows Read: 47000000, Paired Rows: 3503933, Time: 2017-12-08 03:23:38.649304
Cleanin up!
Total Rows Read: 47100000, Paired Rows: 3509381, Time: 2017-12-08 03:26:14.233569
Total Rows Read: 47200000, Paired Rows: 3516073, Time: 2017-12-08 03:27:00.517055
Total Rows Read: 47300000, Paired Rows: 3522910, Time: 2017-12-08 03:27:47.565118
Total Rows Read: 47400000, Paired Rows: 3529778, Time: 2017-12-08 03:28:34.491882
Total Rows Read: 47500000, Paired Rows: 3536916, Time: 2017-12-08 03:29:21.507689
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 47600000, Paired Rows: 3543840, Time: 2017-12-08 03:30:08.682632
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 47700000, Paired Rows: 3550936, Time: 2017-12-08 03:30:55.518733
Total Rows Read: 47800000, Paired Rows: 3558449, Time: 2017-12-08 03:31:46.430468
Total Rows Read: 47900000, Paired Rows: 3566276, Time: 2017-12-08 03:32:32.491205
Total Rows Read: 48000000, Paired Rows: 3574435, Time: 2017-12-08 03:33:18.588661
Cleanin up!
Total Rows Read: 48100000, Paired Rows: 3580655, Time: 2017-12-08 03:35:37.379248
Total Rows Read: 48200000, Paired Rows: 3587943, Time: 2017-12-08 03:36:23.171435
Total Rows Read: 48300000, Paired Rows: 3595758, Time: 2017-12-08 03:37:09.374369
Total Rows Read: 48400000, Paired Rows: 3603968, Time: 2017-12-08 03:37:55.104043
Total Rows Read: 48500000, Paired Rows: 3612065, Time: 2017-12-08 03:38:41.033543
Total Rows Read: 48600000, Paired Rows: 3620161, Time: 2017-12-08 03:39:26.892387
Total Rows Read: 48700000, Paired Rows: 3628523, Time: 2017-12-08 03:40:12.308387
Total Rows Read: 48800000, Paired Rows: 3636783, Time: 2017-12-08 03:40:55.793959
Total Rows Read: 48900000, Paired Rows: 3645016, Time: 2017-12-08 03:41:41.465072
Total Rows Read: 49000000, Paired Rows: 3653191, Time: 2017-12-08 03:42:26.804636
Cleanin up!
Total Rows Read: 49100000, Paired Rows: 3659314, Time: 2017-12-08 03:45:16.758519
Total Rows Read: 49200000, Paired Rows: 3666862, Time: 2017-12-08 03:46:03.698564
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 49300000, Paired Rows: 3674611, Time: 2017-12-08 03:46:49.946991
Total Rows Read: 49400000, Paired Rows: 3682404, Time: 2017-12-08 03:47:28.211632
Total Rows Read: 49500000, Paired Rows: 3690523, Time: 2017-12-08 03:48:14.694810
Total Rows Read: 49600000, Paired Rows: 3698510, Time: 2017-12-08 03:49:00.717721
Total Rows Read: 49700000, Paired Rows: 3706160, Time: 2017-12-08 03:49:46.404014
Total Rows Read: 49800000, Paired Rows: 3713862, Time: 2017-12-08 03:50:30.614117
Total Rows Read: 49900000, Paired Rows: 3721498, Time: 2017-12-08 03:51:16.094267
Total Rows Read: 50000000, Paired Rows: 3729224, Time: 2017-12-08 03:52:01.308837
Cleanin up!
Total Rows Read: 50100000, Paired Rows: 3735023, Time: 2017-12-08 03:54:26.959352

Total Rows Read: 50200000, Paired Rows: 3741619, Time: 2017-12-08 03:55:11.845302
Total Rows Read: 50300000, Paired Rows: 3748911, Time: 2017-12-08 03:55:57.983971
Total Rows Read: 50400000, Paired Rows: 3756069, Time: 2017-12-08 03:56:44.767993
Total Rows Read: 50500000, Paired Rows: 3763005, Time: 2017-12-08 03:57:31.266834
Total Rows Read: 50600000, Paired Rows: 3769782, Time: 2017-12-08 03:58:17.264334
Total Rows Read: 50700000, Paired Rows: 3777219, Time: 2017-12-08 03:59:04.126687
Total Rows Read: 50800000, Paired Rows: 3785094, Time: 2017-12-08 03:59:49.686236
Total Rows Read: 50900000, Paired Rows: 3793279, Time: 2017-12-08 04:00:35.657250
Total Rows Read: 51000000, Paired Rows: 3801422, Time: 2017-12-08 04:01:21.326758
Cleanin up!
Total Rows Read: 51100000, Paired Rows: 3807387, Time: 2017-12-08 04:03:48.353374
Total Rows Read: 51200000, Paired Rows: 3814980, Time: 2017-12-08 04:04:34.706791
Total Rows Read: 51300000, Paired Rows: 3823030, Time: 2017-12-08 04:05:21.112786
Total Rows Read: 51400000, Paired Rows: 3831198, Time: 2017-12-08 04:06:06.968853
Total Rows Read: 51500000, Paired Rows: 3839786, Time: 2017-12-08 04:06:53.562771
Total Rows Read: 51600000, Paired Rows: 3848193, Time: 2017-12-08 04:07:39.954484
Total Rows Read: 51700000, Paired Rows: 3856696, Time: 2017-12-08 04:08:26.278311
Total Rows Read: 51800000, Paired Rows: 3865136, Time: 2017-12-08 04:09:12.096362
Total Rows Read: 51900000, Paired Rows: 3873707, Time: 2017-12-08 04:09:58.534856
Total Rows Read: 52000000, Paired Rows: 3882541, Time: 2017-12-08 04:10:45.586023
Cleanin up!
Total Rows Read: 52100000, Paired Rows: 3888690, Time: 2017-12-08 04:13:13.263342
Total Rows Read: 52200000, Paired Rows: 3896167, Time: 2017-12-08 04:13:59.777384
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 52300000, Paired Rows: 3904066, Time: 2017-12-08 04:14:46.827537
Total Rows Read: 52400000, Paired Rows: 3912075, Time: 2017-12-08 04:15:33.671695
Total Rows Read: 52500000, Paired Rows: 3919817, Time: 2017-12-08 04:16:19.699428
Total Rows Read: 52600000, Paired Rows: 3927586, Time: 2017-12-08 04:17:05.665194
Total Rows Read: 52700000, Paired Rows: 3935086, Time: 2017-12-08 04:17:50.296960
Total Rows Read: 52800000, Paired Rows: 3942210, Time: 2017-12-08 04:18:34.235860
Total Rows Read: 52900000, Paired Rows: 3949629, Time: 2017-12-08 04:19:20.425849
Total Rows Read: 53000000, Paired Rows: 3956669, Time: 2017-12-08 04:20:04.780166
Cleanin up!
Total Rows Read: 53100000, Paired Rows: 3961654, Time: 2017-12-08 04:22:28.250799
Total Rows Read: 53200000, Paired Rows: 3968689, Time: 2017-12-08 04:23:13.998156
Total Rows Read: 53300000, Paired Rows: 3975784, Time: 2017-12-08 04:23:59.822487
Total Rows Read: 53400000, Paired Rows: 3982792, Time: 2017-12-08 04:24:46.246104
Total Rows Read: 53500000, Paired Rows: 3989572, Time: 2017-12-08 04:25:33.149640
Total Rows Read: 53600000, Paired Rows: 3996681, Time: 2017-12-08 04:26:19.131235
Total Rows Read: 53700000, Paired Rows: 4003969, Time: 2017-12-08 04:27:05.001762
Total Rows Read: 53800000, Paired Rows: 4011698, Time: 2017-12-08 04:27:50.668516
Total Rows Read: 53900000, Paired Rows: 4019802, Time: 2017-12-08 04:28:36.562464
Total Rows Read: 54000000, Paired Rows: 4028038, Time: 2017-12-08 04:29:22.679739
Cleanin up!
Total Rows Read: 54100000, Paired Rows: 4034410, Time: 2017-12-08 04:31:59.555303
Total Rows Read: 54200000, Paired Rows: 4042313, Time: 2017-12-08 04:32:46.227908
Total Rows Read: 54300000, Paired Rows: 4050513, Time: 2017-12-08 04:33:32.821387
Total Rows Read: 54400000, Paired Rows: 4058552, Time: 2017-12-08 04:34:19.287844
Total Rows Read: 54500000, Paired Rows: 4066916, Time: 2017-12-08 04:35:05.539072
Total Rows Read: 54600000, Paired Rows: 4075410, Time: 2017-12-08 04:35:52.083068
Total Rows Read: 54700000, Paired Rows: 4083611, Time: 2017-12-08 04:36:38.251567
Total Rows Read: 54800000, Paired Rows: 4092027, Time: 2017-12-08 04:37:24.093467
Total Rows Read: 54900000, Paired Rows: 4100461, Time: 2017-12-08 04:38:10.184634
Total Rows Read: 55000000, Paired Rows: 4108811, Time: 2017-12-08 04:38:56.039501
Cleanin up!
Total Rows Read: 55100000, Paired Rows: 4114848, Time: 2017-12-08 04:41:34.673956
Total Rows Read: 55200000, Paired Rows: 4122277, Time: 2017-12-08 04:42:20.907254
Total Rows Read: 55300000, Paired Rows: 4130013, Time: 2017-12-08 04:43:07.815358
Total Rows Read: 55400000, Paired Rows: 4137611, Time: 2017-12-08 04:43:54.769651
Total Rows Read: 55500000, Paired Rows: 4145038, Time: 2017-12-08 04:44:40.436892
Total Rows Read: 55600000, Paired Rows: 4152234, Time: 2017-12-08 04:45:26.150861
Total Rows Read: 55700000, Paired Rows: 4159391, Time: 2017-12-08 04:46:11.219209
Total Rows Read: 55800000, Paired Rows: 4166492, Time: 2017-12-08 04:46:56.041205
Total Rows Read: 55900000, Paired Rows: 4173918, Time: 2017-12-08 04:47:41.208128
Total Rows Read: 56000000, Paired Rows: 4181791, Time: 2017-12-08 04:48:26.797596
Cleanin up!
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 56100000, Paired Rows: 4187608, Time: 2017-12-08 04:51:00.376860
Total Rows Read: 56200000, Paired Rows: 4194103, Time: 2017-12-08 04:51:47.566258
Total Rows Read: 56300000, Paired Rows: 4200700, Time: 2017-12-08 04:52:34.220903
Total Rows Read: 56400000, Paired Rows: 4207647, Time: 2017-12-08 04:53:20.032031
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 56500000, Paired Rows: 4214881, Time: 2017-12-08 04:54:05.571219
Total Rows Read: 56600000, Paired Rows: 4222800, Time: 2017-12-08 04:54:51.600907
Total Rows Read: 56700000, Paired Rows: 4230791, Time: 2017-12-08 04:55:36.859368
Total Rows Read: 56800000, Paired Rows: 4238849, Time: 2017-12-08 04:56:22.182308
Total Rows Read: 56900000, Paired Rows: 4247313, Time: 2017-12-08 04:57:07.769439
Total Rows Read: 57000000, Paired Rows: 4255526, Time: 2017-12-08 04:57:53.121630
Cleanin up!
Total Rows Read: 57100000, Paired Rows: 4261623, Time: 2017-12-08 05:00:31.773903
Total Rows Read: 57200000, Paired Rows: 4269101, Time: 2017-12-08 05:01:17.792996
Total Rows Read: 57300000, Paired Rows: 4276819, Time: 2017-12-08 05:02:03.174646
Total Rows Read: 57400000, Paired Rows: 4284783, Time: 2017-12-08 05:02:49.440576
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 57500000, Paired Rows: 4292715, Time: 2017-12-08 05:03:35.013677
Total Rows Read: 57600000, Paired Rows: 4300891, Time: 2017-12-08 05:04:20.718084
Total Rows Read: 57700000, Paired Rows: 4309084, Time: 2017-12-08 05:05:07.248114
Total Rows Read: 57800000, Paired Rows: 4317144, Time: 2017-12-08 05:05:52.805734
Total Rows Read: 57900000, Paired Rows: 4324962, Time: 2017-12-08 05:06:37.388063
Total Rows Read: 58000000, Paired Rows: 4332529, Time: 2017-12-08 05:07:21.503591
Cleanin up!
Total Rows Read: 58100000, Paired Rows: 4338039, Time: 2017-12-08 05:10:01.964993
Total Rows Read: 58200000, Paired Rows: 4345111, Time: 2017-12-08 05:10:45.827934
Total Rows Read: 58300000, Paired Rows: 4352811, Time: 2017-12-08 05:11:31.463597
Total Rows Read: 58400000, Paired Rows: 4360804, Time: 2017-12-08 05:12:17.712099
Total Rows Read: 58500000, Paired Rows: 4368718, Time: 2017-12-08 05:13:04.386771
Total Rows Read: 58600000, Paired Rows: 4376141, Time: 2017-12-08 05:13:50.822050
Total Rows Read: 58700000, Paired Rows: 4383307, Time: 2017-12-08 05:14:37.462917
Total Rows Read: 58800000, Paired Rows: 4390366, Time: 2017-12-08 05:15:22.877245
Total Rows Read: 58900000, Paired Rows: 4397653, Time: 2017-12-08 05:16:08.574692
Total Rows Read: 59000000, Paired Rows: 4405106, Time: 2017-12-08 05:16:53.865212
Cleanin up!
Total Rows Read: 59100000, Paired Rows: 4411168, Time: 2017-12-08 05:19:39.004123
Total Rows Read: 59200000, Paired Rows: 4418311, Time: 2017-12-08 05:20:24.536854
Total Rows Read: 59300000, Paired Rows: 4425802, Time: 2017-12-08 05:21:10.631853
Total Rows Read: 59400000, Paired Rows: 4433716, Time: 2017-12-08 05:21:56.332088
Total Rows Read: 59500000, Paired Rows: 4441462, Time: 2017-12-08 05:22:41.484556
Total Rows Read: 59600000, Paired Rows: 4448779, Time: 2017-12-08 05:23:26.536015
Total Rows Read: 59700000, Paired Rows: 4456216, Time: 2017-12-08 05:24:11.404968

Total Rows Read: 59800000, Paired Rows: 4463461, Time: 2017-12-08 05:24:55.752919
Total Rows Read: 59900000, Paired Rows: 4470659, Time: 2017-12-08 05:25:39.974358
Total Rows Read: 60000000, Paired Rows: 4478319, Time: 2017-12-08 05:26:23.869362
Cleanin up!
Total Rows Read: 60100000, Paired Rows: 4484079, Time: 2017-12-08 05:29:01.968451
Total Rows Read: 60200000, Paired Rows: 4490982, Time: 2017-12-08 05:29:47.182687
Total Rows Read: 60300000, Paired Rows: 4497830, Time: 2017-12-08 05:30:32.242986
Total Rows Read: 60400000, Paired Rows: 4504368, Time: 2017-12-08 05:31:16.516785
Total Rows Read: 60500000, Paired Rows: 4511675, Time: 2017-12-08 05:32:01.305776
Total Rows Read: 60600000, Paired Rows: 4518921, Time: 2017-12-08 05:32:46.048433
Total Rows Read: 60700000, Paired Rows: 4525669, Time: 2017-12-08 05:33:29.691745
Total Rows Read: 60800000, Paired Rows: 4532553, Time: 2017-12-08 05:34:13.258757
Total Rows Read: 60900000, Paired Rows: 4539291, Time: 2017-12-08 05:34:56.916311
Total Rows Read: 61000000, Paired Rows: 4546190, Time: 2017-12-08 05:35:40.811349
Cleanin up!
Total Rows Read: 61100000, Paired Rows: 4552118, Time: 2017-12-08 05:38:19.101939
Total Rows Read: 61200000, Paired Rows: 4558937, Time: 2017-12-08 05:39:05.287088
Total Rows Read: 61300000, Paired Rows: 4565794, Time: 2017-12-08 05:39:51.653661
Total Rows Read: 61400000, Paired Rows: 4572575, Time: 2017-12-08 05:40:38.544208
Total Rows Read: 61500000, Paired Rows: 4579614, Time: 2017-12-08 05:41:24.542669
Total Rows Read: 61600000, Paired Rows: 4587034, Time: 2017-12-08 05:42:10.868639
Total Rows Read: 61700000, Paired Rows: 4594454, Time: 2017-12-08 05:42:57.086346
Total Rows Read: 61800000, Paired Rows: 4602316, Time: 2017-12-08 05:43:43.335009
Total Rows Read: 61900000, Paired Rows: 4610497, Time: 2017-12-08 05:44:29.699478
Total Rows Read: 62000000, Paired Rows: 4618524, Time: 2017-12-08 05:45:16.419591
Cleanin up!
Total Rows Read: 62100000, Paired Rows: 4624552, Time: 2017-12-08 05:48:11.095348
Total Rows Read: 62200000, Paired Rows: 4632192, Time: 2017-12-08 05:48:54.960973
Total Rows Read: 62300000, Paired Rows: 4640152, Time: 2017-12-08 05:49:41.177267
Total Rows Read: 62400000, Paired Rows: 4648388, Time: 2017-12-08 05:50:28.180582
Total Rows Read: 62500000, Paired Rows: 4656819, Time: 2017-12-08 05:51:14.572980
Total Rows Read: 62600000, Paired Rows: 4665457, Time: 2017-12-08 05:52:01.141129
Total Rows Read: 62700000, Paired Rows: 4674075, Time: 2017-12-08 05:52:47.704156
Total Rows Read: 62800000, Paired Rows: 4682730, Time: 2017-12-08 05:53:34.742286
Total Rows Read: 62900000, Paired Rows: 4691213, Time: 2017-12-08 05:54:21.778247
Total Rows Read: 63000000, Paired Rows: 4699753, Time: 2017-12-08 05:55:08.750332
Cleanin up!
Total Rows Read: 63100000, Paired Rows: 4706078, Time: 2017-12-08 05:58:04.051609
Total Rows Read: 63200000, Paired Rows: 4713664, Time: 2017-12-08 05:58:51.046599
Total Rows Read: 63300000, Paired Rows: 4721388, Time: 2017-12-08 05:59:38.637986
Total Rows Read: 63400000, Paired Rows: 4729059, Time: 2017-12-08 06:00:26.144585
Total Rows Read: 63500000, Paired Rows: 4736811, Time: 2017-12-08 06:01:13.466077
Total Rows Read: 63600000, Paired Rows: 4743932, Time: 2017-12-08 06:01:58.979102
Total Rows Read: 63700000, Paired Rows: 4750918, Time: 2017-12-08 06:02:44.365885
Total Rows Read: 63800000, Paired Rows: 4758213, Time: 2017-12-08 06:03:29.892326
Total Rows Read: 63900000, Paired Rows: 4765220, Time: 2017-12-08 06:04:14.418544
Total Rows Read: 64000000, Paired Rows: 4772831, Time: 2017-12-08 06:05:00.493282
Cleanin up!
Total Rows Read: 64100000, Paired Rows: 4778627, Time: 2017-12-08 06:07:58.787964
Total Rows Read: 64200000, Paired Rows: 4785327, Time: 2017-12-08 06:08:45.836456
Total Rows Read: 64300000, Paired Rows: 4792124, Time: 2017-12-08 06:09:33.058588
Total Rows Read: 64400000, Paired Rows: 4798944, Time: 2017-12-08 06:10:20.420140
Total Rows Read: 64500000, Paired Rows: 4806140, Time: 2017-12-08 06:11:07.232652
Total Rows Read: 64600000, Paired Rows: 4813827, Time: 2017-12-08 06:11:54.345784
Total Rows Read: 64700000, Paired Rows: 4821642, Time: 2017-12-08 06:12:40.752225
Total Rows Read: 64800000, Paired Rows: 4829696, Time: 2017-12-08 06:13:26.762827
Total Rows Read: 64900000, Paired Rows: 4838071, Time: 2017-12-08 06:14:13.090983
Total Rows Read: 65000000, Paired Rows: 4846446, Time: 2017-12-08 06:14:59.212858
Cleanin up!
Total Rows Read: 65100000, Paired Rows: 4852759, Time: 2017-12-08 06:18:01.827411
Total Rows Read: 65200000, Paired Rows: 4860406, Time: 2017-12-08 06:18:47.730156
Total Rows Read: 65300000, Paired Rows: 4868557, Time: 2017-12-08 06:19:34.354453
Total Rows Read: 65400000, Paired Rows: 4876757, Time: 2017-12-08 06:20:21.372244
Total Rows Read: 65500000, Paired Rows: 4885043, Time: 2017-12-08 06:21:08.470714
Total Rows Read: 65600000, Paired Rows: 4893404, Time: 2017-12-08 06:21:55.415220
Total Rows Read: 65700000, Paired Rows: 4902055, Time: 2017-12-08 06:22:42.342737
Total Rows Read: 65800000, Paired Rows: 4910423, Time: 2017-12-08 06:23:29.235892
Total Rows Read: 65900000, Paired Rows: 4918731, Time: 2017-12-08 06:24:15.596226
Total Rows Read: 66000000, Paired Rows: 4927272, Time: 2017-12-08 06:25:02.301071
Cleanin up!
Total Rows Read: 66100000, Paired Rows: 4933352, Time: 2017-12-08 06:28:03.774867
Total Rows Read: 66200000, Paired Rows: 4940837, Time: 2017-12-08 06:28:50.809053
Total Rows Read: 66300000, Paired Rows: 4948551, Time: 2017-12-08 06:29:38.346169
Total Rows Read: 66400000, Paired Rows: 4956382, Time: 2017-12-08 06:30:25.379320
Total Rows Read: 66500000, Paired Rows: 4963896, Time: 2017-12-08 06:31:11.661632
Total Rows Read: 66600000, Paired Rows: 4971458, Time: 2017-12-08 06:31:57.657553
Total Rows Read: 66700000, Paired Rows: 4979108, Time: 2017-12-08 06:32:43.152741
Total Rows Read: 66800000, Paired Rows: 4987029, Time: 2017-12-08 06:33:28.745632
Total Rows Read: 66900000, Paired Rows: 4995100, Time: 2017-12-08 06:34:14.536689
Total Rows Read: 67000000, Paired Rows: 5002955, Time: 2017-12-08 06:35:00.992588
Cleanin up!
Total Rows Read: 67100000, Paired Rows: 5008678, Time: 2017-12-08 06:38:07.206692
Total Rows Read: 67200000, Paired Rows: 5015265, Time: 2017-12-08 06:38:54.021248
Total Rows Read: 67300000, Paired Rows: 5021970, Time: 2017-12-08 06:39:40.990432
Total Rows Read: 67400000, Paired Rows: 5028839, Time: 2017-12-08 06:40:27.817853
Total Rows Read: 67500000, Paired Rows: 5036309, Time: 2017-12-08 06:41:15.509565
Total Rows Read: 67600000, Paired Rows: 5044036, Time: 2017-12-08 06:42:02.414090
Total Rows Read: 67700000, Paired Rows: 5051903, Time: 2017-12-08 06:42:48.956302
Total Rows Read: 67800000, Paired Rows: 5060331, Time: 2017-12-08 06:43:35.785934
Total Rows Read: 67900000, Paired Rows: 5068782, Time: 2017-12-08 06:44:22.442308
Total Rows Read: 68000000, Paired Rows: 5077348, Time: 2017-12-08 06:45:09.839447
Cleanin up!
Total Rows Read: 68100000, Paired Rows: 5083651, Time: 2017-12-08 06:48:23.487394
Total Rows Read: 68200000, Paired Rows: 5091290, Time: 2017-12-08 06:49:10.805347
Total Rows Read: 68300000, Paired Rows: 5099284, Time: 2017-12-08 06:49:58.371576
Total Rows Read: 68400000, Paired Rows: 5107511, Time: 2017-12-08 06:50:45.990712
Total Rows Read: 68500000, Paired Rows: 5116009, Time: 2017-12-08 06:51:33.242695
Total Rows Read: 68600000, Paired Rows: 5124453, Time: 2017-12-08 06:52:20.310067
Total Rows Read: 68700000, Paired Rows: 5133046, Time: 2017-12-08 06:53:07.954471
Total Rows Read: 68800000, Paired Rows: 5141653, Time: 2017-12-08 06:53:55.131948
Total Rows Read: 68900000, Paired Rows: 5149971, Time: 2017-12-08 06:54:42.492410
Total Rows Read: 69000000, Paired Rows: 5158535, Time: 2017-12-08 06:55:29.718187
Cleanin up!
Total Rows Read: 69100000, Paired Rows: 5164742, Time: 2017-12-08 06:58:47.787667
Total Rows Read: 69200000, Paired Rows: 5172091, Time: 2017-12-08 06:59:35.167041
Total Rows Read: 69300000, Paired Rows: 5179745, Time: 2017-12-08 07:00:21.995710
Total Rows Read: 69400000, Paired Rows: 5187121, Time: 2017-12-08 07:01:09.077870
Total Rows Read: 69500000, Paired Rows: 5194316, Time: 2017-12-08 07:01:55.782322
Total Rows Read: 69600000, Paired Rows: 5201952, Time: 2017-12-08 07:02:42.845923

Total Rows Read: 69700000, Paired Rows: 5209363, Time: 2017-12-08 07:03:29.189101
Total Rows Read: 69800000, Paired Rows: 5216823, Time: 2017-12-08 07:04:15.704181
Total Rows Read: 69900000, Paired Rows: 5223761, Time: 2017-12-08 07:05:01.660554
Total Rows Read: 70000000, Paired Rows: 5230434, Time: 2017-12-08 07:05:47.488163
Cleanin up!
Total Rows Read: 70100000, Paired Rows: 5236053, Time: 2017-12-08 07:09:01.120692
Total Rows Read: 70200000, Paired Rows: 5242532, Time: 2017-12-08 07:09:49.501715
Total Rows Read: 70300000, Paired Rows: 5249171, Time: 2017-12-08 07:10:38.045551
Total Rows Read: 70400000, Paired Rows: 5256234, Time: 2017-12-08 07:11:26.256057
Total Rows Read: 70500000, Paired Rows: 5263835, Time: 2017-12-08 07:12:14.246880
Total Rows Read: 70600000, Paired Rows: 5271687, Time: 2017-12-08 07:13:02.129886
Total Rows Read: 70700000, Paired Rows: 5279930, Time: 2017-12-08 07:13:50.471319
Total Rows Read: 70800000, Paired Rows: 5288250, Time: 2017-12-08 07:14:38.453415
Total Rows Read: 70900000, Paired Rows: 5296598, Time: 2017-12-08 07:15:25.991197
Total Rows Read: 71000000, Paired Rows: 5305234, Time: 2017-12-08 07:16:13.824232
Cleanin up!
Total Rows Read: 71100000, Paired Rows: 5311395, Time: 2017-12-08 07:19:34.427459
Total Rows Read: 71200000, Paired Rows: 5319069, Time: 2017-12-08 07:20:21.952190
Total Rows Read: 71300000, Paired Rows: 5326867, Time: 2017-12-08 07:21:09.424984
Total Rows Read: 71400000, Paired Rows: 5335053, Time: 2017-12-08 07:21:56.914033
Total Rows Read: 71500000, Paired Rows: 5343064, Time: 2017-12-08 07:22:44.858853
Total Rows Read: 71600000, Paired Rows: 5351396, Time: 2017-12-08 07:23:32.516658
Total Rows Read: 71700000, Paired Rows: 5359631, Time: 2017-12-08 07:24:20.335734
Total Rows Read: 71800000, Paired Rows: 5367810, Time: 2017-12-08 07:25:08.544011
Total Rows Read: 71900000, Paired Rows: 5376161, Time: 2017-12-08 07:25:56.035049
Total Rows Read: 72000000, Paired Rows: 5384518, Time: 2017-12-08 07:26:43.506828
Cleanin up!
Total Rows Read: 72100000, Paired Rows: 5390383, Time: 2017-12-08 07:29:58.177626
Total Rows Read: 72200000, Paired Rows: 5397548, Time: 2017-12-08 07:30:46.141075
Total Rows Read: 72300000, Paired Rows: 5405158, Time: 2017-12-08 07:31:34.231210
Total Rows Read: 72400000, Paired Rows: 5412625, Time: 2017-12-08 07:32:21.929616
Total Rows Read: 72500000, Paired Rows: 5420044, Time: 2017-12-08 07:33:08.699211
Total Rows Read: 72600000, Paired Rows: 5427068, Time: 2017-12-08 07:33:54.252853
Total Rows Read: 72700000, Paired Rows: 5434764, Time: 2017-12-08 07:34:40.927080
Total Rows Read: 72800000, Paired Rows: 5442412, Time: 2017-12-08 07:35:27.950725
Total Rows Read: 72900000, Paired Rows: 5450238, Time: 2017-12-08 07:36:15.076533
Total Rows Read: 73000000, Paired Rows: 5458027, Time: 2017-12-08 07:37:03.081436
Cleanin up!
Total Rows Read: 73100000, Paired Rows: 5463650, Time: 2017-12-08 07:40:22.457143
Total Rows Read: 73200000, Paired Rows: 5469618, Time: 2017-12-08 07:41:09.870694
'>=' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 73300000, Paired Rows: 5476007, Time: 2017-12-08 07:41:57.609056
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 73400000, Paired Rows: 5482821, Time: 2017-12-08 07:42:44.879692
Total Rows Read: 73500000, Paired Rows: 5490322, Time: 2017-12-08 07:43:33.247446
Total Rows Read: 73600000, Paired Rows: 5498176, Time: 2017-12-08 07:44:21.445881
Total Rows Read: 73700000, Paired Rows: 5506453, Time: 2017-12-08 07:45:09.404549
Total Rows Read: 73800000, Paired Rows: 5515002, Time: 2017-12-08 07:45:57.695387
Total Rows Read: 73900000, Paired Rows: 5523477, Time: 2017-12-08 07:46:45.381904
Total Rows Read: 74000000, Paired Rows: 5532167, Time: 2017-12-08 07:47:33.309983
Cleanin up!
Total Rows Read: 74100000, Paired Rows: 5538565, Time: 2017-12-08 07:51:02.131615
Total Rows Read: 74200000, Paired Rows: 5546353, Time: 2017-12-08 07:51:50.433649
Total Rows Read: 74300000, Paired Rows: 5554531, Time: 2017-12-08 07:52:38.705102
Total Rows Read: 74400000, Paired Rows: 5562889, Time: 2017-12-08 07:53:27.528980
Total Rows Read: 74500000, Paired Rows: 5571452, Time: 2017-12-08 07:54:16.355018
Total Rows Read: 74600000, Paired Rows: 5580063, Time: 2017-12-08 07:55:04.959823
Total Rows Read: 74700000, Paired Rows: 5588492, Time: 2017-12-08 07:55:53.093767
Total Rows Read: 74800000, Paired Rows: 5596889, Time: 2017-12-08 07:56:41.473388
Total Rows Read: 74900000, Paired Rows: 5605332, Time: 2017-12-08 07:57:29.753824
Total Rows Read: 75000000, Paired Rows: 5613681, Time: 2017-12-08 07:58:17.900884
Cleanin up!
Total Rows Read: 75100000, Paired Rows: 5619949, Time: 2017-12-08 08:01:52.536834
Total Rows Read: 75200000, Paired Rows: 5627115, Time: 2017-12-08 08:02:40.101914
Total Rows Read: 75300000, Paired Rows: 5634186, Time: 2017-12-08 08:03:27.389720
Total Rows Read: 75400000, Paired Rows: 5641908, Time: 2017-12-08 08:04:14.175565
Total Rows Read: 75500000, Paired Rows: 5649379, Time: 2017-12-08 08:05:01.725723
Total Rows Read: 75600000, Paired Rows: 5656667, Time: 2017-12-08 08:05:48.539818
Total Rows Read: 75700000, Paired Rows: 5664123, Time: 2017-12-08 08:06:35.737264
Total Rows Read: 75800000, Paired Rows: 5671718, Time: 2017-12-08 08:07:23.727582
Total Rows Read: 75900000, Paired Rows: 5678963, Time: 2017-12-08 08:08:11.563430
Total Rows Read: 76000000, Paired Rows: 5686060, Time: 2017-12-08 08:08:58.629381
Cleanin up!
Total Rows Read: 76100000, Paired Rows: 5691329, Time: 2017-12-08 08:12:28.269563
Total Rows Read: 76200000, Paired Rows: 5697933, Time: 2017-12-08 08:13:15.620869
Total Rows Read: 76300000, Paired Rows: 5705054, Time: 2017-12-08 08:14:03.157115
Total Rows Read: 76400000, Paired Rows: 5712849, Time: 2017-12-08 08:14:50.884957
Total Rows Read: 76500000, Paired Rows: 5720861, Time: 2017-12-08 08:15:38.530209
Total Rows Read: 76600000, Paired Rows: 5728879, Time: 2017-12-08 08:16:25.985768
Total Rows Read: 76700000, Paired Rows: 5736970, Time: 2017-12-08 08:17:13.034071
Total Rows Read: 76800000, Paired Rows: 5745483, Time: 2017-12-08 08:18:00.663567
Total Rows Read: 76900000, Paired Rows: 5753816, Time: 2017-12-08 08:18:48.062000
Total Rows Read: 77000000, Paired Rows: 5761958, Time: 2017-12-08 08:18:22.784059
Cleanin up!
Total Rows Read: 77100000, Paired Rows: 5767982, Time: 2017-12-08 08:21:58.489540
Total Rows Read: 77200000, Paired Rows: 5775078, Time: 2017-12-08 08:22:45.997990
Total Rows Read: 77300000, Paired Rows: 5782680, Time: 2017-12-08 08:23:33.344781
Total Rows Read: 77400000, Paired Rows: 5790493, Time: 2017-12-08 08:24:20.409480
Total Rows Read: 77500000, Paired Rows: 5798349, Time: 2017-12-08 08:25:07.364484
Total Rows Read: 77600000, Paired Rows: 5806249, Time: 2017-12-08 08:25:54.710740
Total Rows Read: 77700000, Paired Rows: 5813746, Time: 2017-12-08 08:26:41.035908
Total Rows Read: 77800000, Paired Rows: 5821313, Time: 2017-12-08 08:27:27.254179
Total Rows Read: 77900000, Paired Rows: 5828923, Time: 2017-12-08 08:28:13.129802
Total Rows Read: 78000000, Paired Rows: 5836790, Time: 2017-12-08 08:28:59.456640
Cleanin up!
Total Rows Read: 78100000, Paired Rows: 5842762, Time: 2017-12-08 08:32:41.630032
'>' not supported between instances of 'NoneType' and 'int'
Total Rows Read: 78200000, Paired Rows: 5849608, Time: 2017-12-08 08:33:30.969934
Total Rows Read: 78300000, Paired Rows: 5856306, Time: 2017-12-08 08:34:20.012807
Total Rows Read: 78400000, Paired Rows: 5863163, Time: 2017-12-08 08:35:08.631818
Total Rows Read: 78500000, Paired Rows: 5870256, Time: 2017-12-08 08:35:57.511709
Total Rows Read: 78600000, Paired Rows: 5877916, Time: 2017-12-08 08:36:45.376465
Total Rows Read: 78700000, Paired Rows: 5885727, Time: 2017-12-08 08:37:32.363900
Total Rows Read: 78800000, Paired Rows: 5893744, Time: 2017-12-08 08:38:19.885944
Total Rows Read: 78900000, Paired Rows: 5901845, Time: 2017-12-08 08:39:06.544213
Total Rows Read: 79000000, Paired Rows: 5910206, Time: 2017-12-08 08:39:52.902633
Cleanin up!
Total Rows Read: 79100000, Paired Rows: 5916340, Time: 2017-12-08 08:43:31.225824
Total Rows Read: 79200000, Paired Rows: 5923624, Time: 2017-12-08 08:44:18.556953
Total Rows Read: 79300000, Paired Rows: 5931079, Time: 2017-12-08 08:45:07.552858

Total Rows Read: 79400000, Paired Rows: 5938142, Time: 2017-12-08 08:45:54.352750
Total Rows Read: 79500000, Paired Rows: 5945262, Time: 2017-12-08 08:46:41.386505
Total Rows Read: 79600000, Paired Rows: 5953149, Time: 2017-12-08 08:47:28.311253
Total Rows Read: 79700000, Paired Rows: 5961238, Time: 2017-12-08 08:48:16.148794
Total Rows Read: 79800000, Paired Rows: 5969314, Time: 2017-12-08 08:49:03.596979
Total Rows Read: 79900000, Paired Rows: 5977064, Time: 2017-12-08 08:49:51.209787
Total Rows Read: 80000000, Paired Rows: 5984734, Time: 2017-12-08 08:50:37.489386
Cleanin up!
Total Rows Read: 80100000, Paired Rows: 5990968, Time: 2017-12-08 08:54:12.375927
Total Rows Read: 80200000, Paired Rows: 5998107, Time: 2017-12-08 08:55:00.175266
Total Rows Read: 80300000, Paired Rows: 6005456, Time: 2017-12-08 08:55:47.862282
Total Rows Read: 80400000, Paired Rows: 6012722, Time: 2017-12-08 08:56:35.871090
Total Rows Read: 80500000, Paired Rows: 6019845, Time: 2017-12-08 08:57:22.879388
Total Rows Read: 80600000, Paired Rows: 6027098, Time: 2017-12-08 08:58:09.802077
Total Rows Read: 80700000, Paired Rows: 6034073, Time: 2017-12-08 08:58:56.616366
Total Rows Read: 80800000, Paired Rows: 6041284, Time: 2017-12-08 08:59:43.950043
Total Rows Read: 80900000, Paired Rows: 6048675, Time: 2017-12-08 09:00:32.740792
Total Rows Read: 81000000, Paired Rows: 6056049, Time: 2017-12-08 09:01:21.165419
Cleanin up!
Total Rows Read: 81100000, Paired Rows: 6061512, Time: 2017-12-08 09:04:59.198608
Total Rows Read: 81200000, Paired Rows: 6068258, Time: 2017-12-08 09:05:47.327942
Total Rows Read: 81300000, Paired Rows: 6075790, Time: 2017-12-08 09:06:40.152708
Total Rows Read: 81400000, Paired Rows: 6083443, Time: 2017-12-08 09:07:29.866721
Total Rows Read: 81500000, Paired Rows: 6091338, Time: 2017-12-08 09:08:20.827753
Total Rows Read: 81600000, Paired Rows: 6099569, Time: 2017-12-08 09:09:09.965246
Total Rows Read: 81700000, Paired Rows: 6107756, Time: 2017-12-08 09:10:02.690060
Total Rows Read: 81800000, Paired Rows: 6115884, Time: 2017-12-08 09:10:49.675478
Total Rows Read: 81900000, Paired Rows: 6124181, Time: 2017-12-08 09:11:36.862156
Total Rows Read: 82000000, Paired Rows: 6132468, Time: 2017-12-08 09:12:23.883315
Cleanin up!
Total Rows Read: 82100000, Paired Rows: 6138723, Time: 2017-12-08 09:16:05.884993
Total Rows Read: 82200000, Paired Rows: 6146560, Time: 2017-12-08 09:16:54.317176
Total Rows Read: 82300000, Paired Rows: 6154759, Time: 2017-12-08 09:17:43.186800
Total Rows Read: 82400000, Paired Rows: 6163081, Time: 2017-12-08 09:18:31.212778
Total Rows Read: 82500000, Paired Rows: 6171608, Time: 2017-12-08 09:19:19.298477
Total Rows Read: 82600000, Paired Rows: 6180112, Time: 2017-12-08 09:20:08.120400
Total Rows Read: 82700000, Paired Rows: 6188453, Time: 2017-12-08 09:20:57.348919
Total Rows Read: 82800000, Paired Rows: 6196533, Time: 2017-12-08 09:21:46.057966
Total Rows Read: 82900000, Paired Rows: 6204472, Time: 2017-12-08 09:22:34.451788
Total Rows Read: 83000000, Paired Rows: 6212123, Time: 2017-12-08 09:23:22.128430
Cleanin up!
Total Rows Read: 83100000, Paired Rows: 6217606, Time: 2017-12-08 09:27:01.360233
Total Rows Read: 83200000, Paired Rows: 6224031, Time: 2017-12-08 09:27:48.971441
Total Rows Read: 83300000, Paired Rows: 6231063, Time: 2017-12-08 09:28:37.780868
Total Rows Read: 83400000, Paired Rows: 6237957, Time: 2017-12-08 09:29:25.897802
Total Rows Read: 83500000, Paired Rows: 6244971, Time: 2017-12-08 09:30:14.218479
Total Rows Read: 83600000, Paired Rows: 6252242, Time: 2017-12-08 09:31:02.730510
Total Rows Read: 83700000, Paired Rows: 6259669, Time: 2017-12-08 09:31:51.975304
Total Rows Read: 83800000, Paired Rows: 6266513, Time: 2017-12-08 09:32:41.350908
Total Rows Read: 83900000, Paired Rows: 6273356, Time: 2017-12-08 09:33:30.428028
Total Rows Read: 84000000, Paired Rows: 6280672, Time: 2017-12-08 09:34:19.439909
Cleanin up!
Total Rows Read: 84100000, Paired Rows: 6286434, Time: 2017-12-08 09:38:04.661023
Total Rows Read: 84200000, Paired Rows: 6293647, Time: 2017-12-08 09:38:51.945036
Total Rows Read: 84300000, Paired Rows: 6301301, Time: 2017-12-08 09:39:39.215264
Total Rows Read: 84400000, Paired Rows: 6309444, Time: 2017-12-08 09:40:27.771774
Total Rows Read: 84500000, Paired Rows: 6317861, Time: 2017-12-08 09:41:15.251888
Total Rows Read: 84600000, Paired Rows: 6326325, Time: 2017-12-08 09:42:03.479681
Total Rows Read: 84700000, Paired Rows: 6334862, Time: 2017-12-08 09:42:51.593809
Total Rows Read: 84800000, Paired Rows: 6343496, Time: 2017-12-08 09:43:39.227294
Total Rows Read: 84900000, Paired Rows: 6351987, Time: 2017-12-08 09:44:26.137263
Total Rows Read: 85000000, Paired Rows: 6360579, Time: 2017-12-08 09:45:13.635476
Cleanin up!
Total Rows Read: 85100000, Paired Rows: 6366825, Time: 2017-12-08 09:49:00.777953
Total Rows Read: 85200000, Paired Rows: 6374549, Time: 2017-12-08 09:49:49.588612
Total Rows Read: 85300000, Paired Rows: 6382352, Time: 2017-12-08 09:50:37.580088
Total Rows Read: 85400000, Paired Rows: 6390585, Time: 2017-12-08 09:51:25.403834
Total Rows Read: 85500000, Paired Rows: 6398764, Time: 2017-12-08 09:52:13.166121
Total Rows Read: 85600000, Paired Rows: 6407072, Time: 2017-12-08 09:53:01.222177
Total Rows Read: 85700000, Paired Rows: 6415347, Time: 2017-12-08 09:53:49.750317
Total Rows Read: 85800000, Paired Rows: 6423790, Time: 2017-12-08 09:54:37.615972